# macOS
.DS_Store

# Android
android/.gradle/
android/build/
android/local.properties
android/app/build/

# iOS
ios/build/
ios/DerivedData/
ios/*.xcworkspace
ios/xcuserdata/
ios/*.xcuserstate
ios/**/*.xcworkspace/xcuserdata/
ios/**/*.xcodeproj/xcuserdata/

# HarmonyOS
harmony/.hvigor/
harmony/build/
harmony/entry/build/
